{% extends 'cdo_ska/index.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock links %}

{% block content %}

<div class="wrapper">
    <div class="inner">
        <div class="sidebar">
            <div class="sidebar-inner">
                <div class="side-head headerfont">Фильтры</div>
                <div class="line"></div>
                <div class="side-category">
                    <div class="side-header categoryfont">Профессия</div>
                    <input type="checkbox" class="checkbox" id="prof1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="prof1">Машинист</label>
                    <input type="checkbox" class="checkbox" id="prof2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="prof2">Обходчик путей</label>
                    <input type="checkbox" class="checkbox" id="prof3" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="prof3">Инструктор</label>
                </div>
                <div class="side-category">
                    <div class="side-header categoryfont">Год</div>
                    <input type="checkbox" class="checkbox" id="year1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="year1">2023</label>
                    <input type="checkbox" class="checkbox" id="year2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="year2">2022</label>
                    <input type="checkbox" class="checkbox" id="year3" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="year3">2021</label>
                </div>
                <div class="side-category">
                    <div class="side-header categoryfont">Месяц</div>
                    <input type="checkbox" class="checkbox" id="month1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month1">Январь</label>
                    <input type="checkbox" class="checkbox" id="month2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month2">Февраль</label>
                    <input type="checkbox" class="checkbox" id="month1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month1">Январь</label>
                    <input type="checkbox" class="checkbox" id="month2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month2">Февраль</label>
                    <input type="checkbox" class="checkbox" id="month1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month1">Январь</label>
                    <input type="checkbox" class="checkbox" id="month2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month2">Февраль</label>
                    <input type="checkbox" class="checkbox" id="month1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month1">Январь</label>
                    <input type="checkbox" class="checkbox" id="month2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month2">Февраль</label>
                    <input type="checkbox" class="checkbox" id="month1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month1">Январь</label>
                    <input type="checkbox" class="checkbox" id="month2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month2">Февраль</label>
                    <input type="checkbox" class="checkbox" id="month1" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month1">Январь</label>
                    <input type="checkbox" class="checkbox" id="month2" name="happy" value="yes">
                    <label class="checkbox-label headerfont" for="month2">Февраль</label>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="founded headerfont">
                <span class="count">18</span> Тестов найдено
            </div>
            <div class="content">

                <div class="element mainfont topelement">
                    <div class="number">№</div>
                    <div class="test_name">Название теста</div>
                    <div class="questions">Вопросы</div>
                </div>

                <div class="line cline"></div>

                <div class="element mainfont">
                    <div class="number">1</div>
                    <div class="test_name">Распоряжение ОАО «РЖД» от 12 декабря 2017 г № 2580р пункт 54 Действия машиниста встречного поезда при вынужденной остановке поезда на перегоне Ответы СДО</div>
                    <div class="questions">2</div>
                </div>
                <div class="element mainfont">
                    <div class="number">1</div>
                    <div class="test_name">Распоряжение ОАО «РЖД» от 12 декабря 2017 г № 2580р пункт 54 Действия машиниста встречного поезда при вынужденной остановке поезда на перегоне Ответы СДО</div>
                    <div class="questions">2</div>
                </div>
                <div class="element mainfont">
                    <div class="number">1</div>
                    <div class="test_name">Распоряжение ОАО «РЖД» от 12 декабря 2017 г № 2580р пункт 54 Действия машиниста встречного поезда при вынужденной остановке поезда на перегоне Ответы СДО</div>
                    <div class="questions">2</div>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock content %}