{% extends 'cdo_ska/index.html' %}

{% load static %}
{% load paginator_tags %}
{% load i18n %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/test.css' %}">
{% endblock links %}

{% block content %}
<div class="wrapper">
    <div class="inner">
        <div class="content c-content mainfont">
            <div class="c-info c-box c-big-font">
                <div>
                    <p>{{ object.profession }}</p>
                    <p>{{ object.date.year }}</p>
                </div>
                <div>
                    {% language "ru" %}
                    <p>{{ object.date | date:"F" }}</p>
                    {% endlanguage %}
                    <p>{{ object.number_questions }} {{ object.number_questions |ru_pluralize:"вопросов,вопрос,вопроса" }}</p>
                </div>
            </div>
            <div class="line"></div>
            <div class="big-font">{{ object.name }}</div>
            {% for question in questions %}
            <div class="c-box top c-v-480">
                <p class="">{{ forloop.counter }}</p>
                <div class="c-box vertical">

                    {% if question.type %}
                        <div class="image">
                            <img src="{{ question.image }}" alt="">
                        </div>
                    {% else %}
                        <p class="muted c-box space">Вопрос</p>
                        <p>{{ question.question }}</p>
                        <p class="muted">Ответ</p>
                        <p>{{ question.answer }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="line"></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
