@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

:root{
    --burgundy_color: #480000;
    --white_color: #FFFFFF;
    --purple_color: #7B4A4A;
    --red_color: #803137;
    --train_red_color: #B0010F;
    --green_color: #219653;
    --filters_color: rgba(255, 255, 255, 0.75);
    --black_color: #000000;
}

*{
    margin: 0;
    padding: 0;
}

.mainfont{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.015em;
}

p{
    word-wrap: break-word;
}

.headerfont{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.015em;
}

.f-s-18{
    font-size: 18px;
    text-align: center;
}

textarea:focus, input:focus{
    outline: none;
    border: 3px solid var(--burgundy_color);
}

.bold{
    font-weight: 700 !important;
}

.underline{
    text-decoration: underline !important;
}

.train_red{
    color: var(--train_red_color);
}

.logo{
    max-width: 100%;
}

.visible{
    display: flex !important;
    z-index: 1;
    position: absolute;
    height: 100%;
}