.container{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.nav-wrapper{
    width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-left{
    width: 100%;
}

.nav-right{
    height: 24px;
}

.gap{
    gap: 95px;
}

.bg-burgundy{
    background: var(--burgundy_color);
}

.bg-red{
    background: var(--red_color);
}

.slim{
    height: 60px;
}

.fat{
    height: 150px;
}

.ico{
    margin-right: 20px;
    size: 24px;
}

.ico svg{
    margin: auto;
}

.nav a{
    color: var(--white_color);
    text-decoration: none;
}

.search{
    width: 100%;
    height: 29px;
    padding: 18px 40px;
    border-radius: 64px;
    border: 3px solid var(--purple_color);
    margin-left: 48px;
}

#burger{
    display: none;
}

.line{
    border-bottom: 2px solid var(--white_color);
}

@media screen and (max-width: 1360px) {
    .nav-wrapper{
        width: 100%;
        padding: 0px 40px
    }
}


@media screen and (max-width: 1280px) {
    .info{
        display: none;
    }

    .nav-left{
        justify-content: flex-start;
        gap: 40px;
    }

    .gap{
        gap: 40px;
    }

    #logo{
        display: none;
    }

    #burger{
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .nav-wrapper{
        padding: 0px 20px
    }

    .ico{
        margin-right: 0px;
    }

    .info-2{
        display: none;
    }

    .gap{
        gap: 40px;
    }

    .search{
        margin-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .info-3{
        display: none;
    }
}