.c-content{
    width: 100%;
    padding: 40px 80px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    box-sizing: border-box;
    border-radius: 0px 0px 24px 24px;
}

.c-content *{
    color: white;
}

.c-header{
    font-size: 32px;
}

.c-search{
    height: 29px;
    padding: 18px 40px;
    border-radius: 64px;
    border: 3px solid var(--purple_color);
    color: var(--black_color);
}

.c-box{
    display: flex;
    gap: 80px;
    width: 100%;
}

.center{
    align-items: center;
}

.vertical{
    flex-direction: column;
    gap: 20px;
}

.muted{
    color: var(--filters_color);
}

.file-drop label{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    width: 100%;
    height: auto;
    padding: 40px 0;
    outline: 4px dashed var(--white_color);
    outline-offset: -12px;
    background-color: var(--burgundy_color);
}

.icon{
    display: block;
    size: 48px;
}

.file-drop input[type="file"]{
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.btn{
    height: 68px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 40px;
    border-radius: 24px;
    border: 2px solid var(--burgundy_color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: translateY(-5px);
}

.c-big-font{
    font-size: 24px;
}

.c-info{
    gap: 40px;
}

.c-info div{
    display: flex;
    gap: 40px;
    width: fit-content;
}

.c-info div:not(:last-child){
    padding-right: 40px;
    border-right: 2px solid var(--white_color);
}

.c-info p:not(:last-child){
    padding-right: 40px;
    border-right: 2px solid var(--white_color);
}

.add{
    background-color: var(--red_color);
}

.upload{
    background-color: var(--green_color);
}

.muted svg path{
    fill: var(--train_red_color);
}

.space{
    justify-content: space-between;
}

.image img{
    max-width: 100%;
}

@media screen and (max-width: 1280px) {
    .buttons{
        flex-direction: column;
    }

    .btn{
        width: fit-content;
    }

    .content{
        gap: 40px;
    }

    .c-box{
        gap: 40px;
    }

    .c-content{
        padding: 40px 48px;
    }
}

@media screen and (max-width: 768px) {
    .c-content{
        padding: 40px 30px;
    }

    .c-header{
        font-size: 24px;
    }

    .c-info{
        flex-direction: column;
    }

    .c-info div:not(:last-child){
        border: none;
        padding-right: 0px;
    }
}

@media screen and (max-width: 480px) {
    .c-v-480{
        flex-direction: column;
    }

    .c-search{
        max-width: 70%;
    }
}